.footer {
    text-align: center;
    padding-top: 40px;
    background: linear-gradient(rgb(225, 215, 206), #FFFFFF);
    height: 250px;
    list-style-type: none;
    bottom: 0;
    width: 100vw;
}
.social-icons {
   background-color: black;
   height: 30px;
   border-radius: 5px;
   margin: 15px;
}
.social-list {
    display: flex;
    justify-content: center;
}