.cart-image-style {
    width: 300px;
    // position: absolute;
    // clip: inherit;
}
.item-display {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	align-content: stretch;
}