
.announcement-bar {
    text-align: center;
    background-color: #000000;
    color: white;
}
.announcement-text {
    padding: 0px;
    margin: 0px;
}
.nav-link-bar {
    background-color: gray;
    color: white;
    padding: 5px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.nav-link-bar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 5; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
}

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';
 
#{$a-tags} {
  color: #FFFFFF;
  text-decoration: none;
}
#{$a-tags-hover} {
  color: #000000;
}

.icon-links {
    background-color: rgba(0, 0, 0, 0.24);
}
.icon {
    width: 50px;
}